<% provide(:title, @user.name) %>

<div class="profile">
  <div class="profileicon">
    <% if @user.avatar? %>
      <%= image_tag @user.avatar.url, width: "150px", height: "150px", class:"icon"%>
    <% else%>
      <%= image_tag "default_user.jpg", width: "150px", height: "150px", class:"icon"%>
    <% end %>
  </div>
  <section class="stats">
    <h3><%= @user.name %></h3>
    <%= render 'shared/stats' %>
    <h5>Microposts (<%= @user.microposts.count %>)</h5>
  </section>
</div>
<%= render 'follow_form' if logged_in? %>
<div class="profilecontent">
<% if @user.microposts.any? %>
  <% @microposts.each do |micropost| %>
     <%if micropost.image.attached?%>
      <a href="/microposts/<%=micropost.id%>" class="profilevideo" >
        <video src="<%= rails_blob_path(micropost.image) %>#t=0.001" class="video" playsinline loop></video>
          <i class="fas fa-play profileplay"></i>
      </a>
    <%end%>
  <%end%>
<% end %>
</div>
