<li id="micropost-<%= micropost.id %>">

  <% if micropost.user.avatar? %>
    <%= link_to image_tag(micropost.user.avatar.url, width: "50px", height: "50px", class:"icon"),micropost.user%>
  <% else%>
    <%= link_to image_tag("default_user.jpg", width: "50px", height: "50px", class:"icon"),micropost.user%>
  <% end %>

  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>

  <span class="content">
    <%if micropost.image.attached?%>
      <div class="playbtn" >
        <video src="<%= rails_blob_path(micropost.image) %>" class="video" playsinline loop preload="metadata"></video>
        <div class="play">
          <i class="fas fa-play"></i>
        </div>
      </div>
    <%end%>
  </span>

  <span class="like" id="like_form_<%= micropost.id %>">
    <% if micropost.liked_by.include?(current_user) %>
      <%= render "microposts/unlike", micropost: micropost %>
    <% else %>
      <%= render "microposts/like", micropost: micropost %>
    <% end %>
  </span>

  <span class="content">
    <%= micropost.content %>
  </span>  

  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>  

</li>
<%= javascript_pack_tag 'micropost/application'%>
