<li id="micropost-<%= micropost.id %>">

  <% if micropost.user.avatar? %>
    <%= link_to image_tag(micropost.user.avatar.url, width: "50px", height: "50px", class:"icon"),micropost.user%>
  <% else%>
    <%= link_to image_tag("default_user.jpeg", width: "50px", height: "50px", class:"icon"),micropost.user%>
  <% end %>

  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <div>
    <%if micropost.image.attached?%>
      <video src="<%= rails_blob_path(micropost.image) %>" type="video/mp4" controls class="video" width=500px; ></video>
    <%end%>
    </div>
    <%= micropost.content %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>  <span class="like" id="like_form_<%= micropost.id %>">
    <% if micropost.liked_by.include?(current_user) %>
      <%= render "microposts/unlike", micropost: micropost %>
    <% else %>
      <%= render "microposts/like", micropost: micropost %>
    <% end %>
  </span>
</li>