<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <p class="alert alert-<%= key %>">
          <%= sanitize value, tags: %w(br) %>
        </p>
      <% end %>
      <%= render 'layouts/post' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>

<script>
$(function(){
$("#postopen").click(function(){
  $("#postpost").fadeIn();
  $('body').css('overflow-y', 'hidden');
})
$(".closemodal").click(function(){
  $("#postpost").fadeOut();
  $('body').css('overflow-y','auto'); 
})
});
$(document).on('click touchend', function(event) {
  if (!$(event.target).closest('#postpostpost, #postopen').length) {
    $('#postpost').fadeOut();
    $('body').css('overflow-y','auto'); 
  }
});
</script>